<section class="block container block-domain">
  <header class="block__header">
    <h2>Planos iniciais em R$9 por mês</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, facere.
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Digite o domínio aqui..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Procurar
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">.com R$9</span></li>
    <li>.net R$10</li>
    <li>.space R$11</li>
    <li>.info R$14</li>
    <li>.sg R$10</li>
    <li>.xyz R$10</li>
  </ul>
</section>
