<section class="block container block-plans">
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Básico</h3>
          <span class="plan__price">R$7</span>
          <span class="plan__billing-cycle">/mês</span>
          <span class="badge badge--secondary badge--small">10% OFF</span>
          <span class="plan__description">Para você que está iniciando</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">10 Websites</li>
            <li class="list__item">Largura de banda Ilimitada</li>
            <li class="list__item">100 GB Armazenamento</li>
            <li class="list__item">3 GB RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Contrate Agora!</button>
        </div>
      </div>
    </div>

    <div class="plan plan--popular">
      <div class="card card--primary">
        <header class="card__header">
          <h3 class="plan__name">Standard</h3>
          <span class="plan__price">R$9</span>
          <span class="plan__billing-cycle">/mês</span>
          <span class="badge badge--primary badge--small">10% OFF</span>
          <span class="plan__description">Queridinho da hospedagem! </span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">50 Websites</li>
            <li class="list__item">Largura de banda Ilimitada</li>
            <li class="list__item">300 GB Armazenamento</li>
            <li class="list__item">4 GB RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Contrate Agora!</button>
        </div>
      </div>
    </div>

    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Bussines</h3>
          <span class="plan__price">R$15</span>
          <span class="plan__billing-cycle">/mês</span>
          <span class="badge badge--secondary badge--small">10% OFF</span>
          <span class="plan__description"
            >Pacote completo para sua empresa</span
          >
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Websites Ilimitados</li>
            <li class="list__item">Largura de banda Ilimitada</li>
            <li class="list__item">1 TB Armazenamento</li>
            <li class="list__item">6 GB RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Contrate Agora!</button>
        </div>
      </div>
    </div>
  </div>
</section>
